/* Google Font link below: */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.container {
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.number-div {
    width: 40rem;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 1rem;
    background-color: rgb(216, 204, 34);
    color: black;
    text-align: center;
    
}

hr {
    border: 2px solid black;
}

/* Select all the elements form counter-div */
.number-div > * {
    margin-bottom: 2rem;
    font-family: 'Righteous', cursive;
}

.number {
    font-size: 4rem;
}

button {
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    background-color: whitesmoke;
    font-size: 20px;
    font-family: 'Righteous', cursive;
}

button:hover {
    background-color: blue;
    color: white;
    border: 1px solid darkblue;
}

h1 {
    font-family: 'Rampart One', cursive;
    font-size: 30px;
}
